@font-face {
	font-family: '8BITWONDERNominal';
	src: url('../fonts/8BITWONDERNominal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: black;
	color: white;
	font-family: "8BITWONDERNominal", sans-serif;
	font-size: 18px;
}

#layout {
	width: 100vw;
	height: 100vh;
}

#loading {
	display: none;
	position: absolute;
	width: 30vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -8.5vw 0 0 -15vw;
}

.fullWidth {
	width: 100%;
}

#erfaanism {
	margin-top: 2vw;
	width: 100%;
}

#enter {
	display: none;
	position: absolute;
	max-width: 90vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -22.5vw 0 0 -45vw;
}

#playerSelection {
	display: none;
}

#playerSelectionPlayers {
	margin: 10px 8vw 0 8vw;
}

.playerImages {
	opacity: 0.5;
	margin-top: 20px;
	box-sizing: border-box;
	border: 3px solid #b5b6b5;
	width: 100%;
}

#playerSelected {
	margin-top: 20px;
}

#onPlayer1Image {
	margin-top: -25%;
	margin-left: -25%;
	width: 150%;
}

#onPlayer2Image {
	margin-top: -25%;
	margin-left: -25%;
	width: 150%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#star2 {
	width: 100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#stage {
	display: none;
	position: absolute;
	width: 70vw;
	height: auto;
	top: 50%;
	left: 50%;
	margin: -3.5vw 0 0 -35vw;
}

#battleScene {
	display: none;
	width: 100vw;
	height: 100vh;
	background: url(../images/background.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#p1Fighter {
	position: absolute;
	width: 20vw;
	margin-top: 40vh;
	margin-left: 10vw;
}

#p2Fighter {
	position: absolute;
	width: 20vw;
	margin-top: 40vh;
	margin-left: 70vw;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#instructionText {
	display: block;
	text-align: center;
	color: white;
	-webkit-text-stroke: 0.25vw black;
	font-size: 2.5vw;
}

#statName1, #statName2 {
	position: absolute;
	top: 5vw;
	height: 2vw;
}

#statImage1, #statImage2 {
	box-sizing: border-box;
	border: solid 2px #ffff00;
	position: absolute;
	top: 5vw;
	width: 5vw;
}

#statName1 {
	left: 8vw;
}

#statImage1 {
	left: 2.5vw;
}

#hpBar1Container {
	position: absolute;
	box-sizing: border-box;
	background: #ff2400;
	border: solid 2px #fff;
	width: 33vw;
	height: 2.5vw;
	top: 7.5vw;
	left: 7.5vw;
}

#hpBar1 {
	position: absolute;
	background: #ffff00;
	width: calc(33vw - 4px);
	height: calc(2.5vw - 4px);
	top: calc(7.5vw + 2px);
	left: calc(7.5vw + 2px);
}

#timer {
	position: absolute;
	box-sizing: border-box;
	border: solid 1vw #ffff00;
	border-top: solid 2.5vw #ffff00;
	border-radius: 0.5vw;
	width: 9vw;
	height: 9vw;
	top: 4.5vw;
	left: 45.5vw;	
}

#timerTitle {
	position: absolute;
	font-size: 2vw;
	top: -3vw;
	left: -0.25vw;
	color: black;
	-webkit-text-stroke: 0.1vw white;
}

#timerCounter {
	position: absolute;
	font-size: 3.25vw;
	-webkit-text-stroke: 0.25vw white;
	left: 53%;
	transform: translate(-50%, 0);
	color: #ff2400;	
}

#statName2 {
	right: 8vw;
}

#statImage2 {
	right: 2.5vw;
}

#hpBar2Container {
	position: absolute;
	box-sizing: border-box;
	background: #ff2400;
	border: solid 2px #fff;
	width: 33vw;
	height: 2.5vw;
	top: 7.5vw;
	right: 7.5vw;
}

#hpBar2 {
	position: absolute;
	background: #ffff00;
	width: calc(33vw - 4px);
	height: calc(2.5vw - 4px);
	top: calc(7.5vw + 2px);
	right: calc(7.5vw + 2px);
}

#stats1, #stats2 {
	position: absolute;
	margin-top: 8vw;
	font-size: 2vw;
	color: #000;
	-webkit-text-stroke: 0.1vw white;
}

#stats2 {
	margin-top: 18vw;
}

span.stats {
	display: block;
}

#stats1 {
	left: 2.5vw;
}

#stats1 {
	left: 2.5vw;
}

#stats2 {
	right: 2.5vw;
}

#p1Wins, #p2Wins {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 50vw;
	height: auto;
}

#fgImage {
	position: fixed;
	bottom: 0;
	left: 0;
}

.fgWidth {
	width: 100%;
}

.fgHeight {
	height: 100%;
}